body {
    background-image: url(fondo.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.carousel {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    position: relative;
    width: 200%;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    backface-visibility: hidden;
    transition: transform 0.4s ease-in-out;
}

.carousel-item.active {
    display: block;
}

.carousel-item img {
    display: block;
    width: 700px;
    height: 700px;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 10px;
}

.text-column h2 {
    color: #333;
    margin-bottom: 15px;
    font-size: 1.5rem;
    text-align: center;
}
.text-column p {
    align-items: center;
    color: black;
    line-height: 1.6;
    text-align: center;
}